body {
    margin: 0;
    padding: 0;

}
header{
    justify-content: space-between;
}
.logo {
    /* Styles pour le logo */
    float: left;
    margin: 5px;
    padding: 10px;
}

.main-section {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    /*background-image: url("CHIOT.jpg");*/
    background-size: cover;
    background-position: center; 
    margin-bottom: 0;
}

.rectangle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 400px;
    height: 500px;
    background-color: green;
    margin: 70px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    top: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: rgb(158, 145, 22);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    top: 50%;
}

p {
    color: white;
    text-align: center;
    top: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bouton {
    color: rgb(247, 211, 8);
    padding: 10px 20px;
    margin: 20px;
}

.monboutton {
    padding: 10px 15px 10px 15px;
    background-color: rgb(149, 165, 9);
    color: green;
    text-decoration: none;
}



ul {
    list-style: none;
    text-align: right;

}

li {
    float: left;
}

li a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: roboto;
    color: black;
    text-align: right;
}

nav {
    text-align: right;
}

.navbar {
    display: flex;
    justify-content: space-between;
    float: right;
    margin: 10px;
    text-align: right;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 10px;
}


.logo-text p {
    font-size: 14px;
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;

}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;

}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    float: right;
}

.naby {
    height: 100%;
    margin: 0;
    padding: 0;
}

.plein-ecran {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.naby img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    background-color: rgb(29, 27, 27);
    padding: 70px;
    color: white;
    text-align: center;
    margin-top: auto;
  }
  .link{
    top: 40px;
  }
  